*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color:#5D20DD;
color: rgb(215, 221, 221);
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px;
font-family: "Poppins",sans-serif;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 20%;
}

.escola{
    background-image: linear-gradient(#5D20DD, #000000);
    color: rgb(235, 218, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
    text-align: center;
    font-family: "Poppins",sans-serif;
}

.escola-titulo{
    font-size: 32px;
    padding: 24px 0;
    text-align: center;
}

.estudante-imagem{
    width: 7%;
}

.estudante-icone{
    width: 35px;
}
